.posts {
  padding-top: 20px;
  &_items {
    margin-top: 20px;
    img {
      margin-right: 20px;
      border-radius: 50%;
      width: 90px;
      height: 90px;
    }
    &_likes {
      display: flex;
      justify-content: flex-end;
    }
  }
}

