.about {
  display: flex;
  flex-direction: column;
  img {
    max-width: 600px;
    height: 300px;
  }
  .status{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    & span {
      width: 10%;
    }
    &_output{
      padding: 5px 10px;
      overflow: auto;
      width: 90%;
      cursor: pointer;
        &:hover {
          background-color: #eee;
        }
    }
    &_input{
      width: 90%;
      input {
        padding: 4px 10px;
        border: 1px solid #eee;
        width: 100%;
      }
    }
  }
  .editProfile{
    &_summaryError{
      padding: 5px;
      color: red;
    }
  }
}

