.Page_Items_Dialogs_Friends_Item {

  margin-bottom: 10px;
  & a {
    color: #444;
    padding: 3px 15px;
    margin-bottom: 15px;
    border-left: 5px solid transparent;
    &:hover{
      border-left: 5px solid #666;
    }
    &.active {
      border-left: 5px solid #222;
    }
  }
}

