.Page_Items_Dialogs {
  background: white;
  box-shadow: 0 0 11px #cccccc;
  padding: 25px 40px;
  margin: 20px 0;
  border-radius: 3px;
  & h1 {
    margin-bottom: 20px;
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__friends{
      display: flex;
      flex-direction: column;
      width: 30%;
      & a {
        color: #444;
        padding: 3px 15px;
        margin-bottom: 15px;
        margin-bottom: 10px;
        border-left: 5px solid transparent;
        &:hover{
          border-left: 5px solid #666;
        }
        &.active {
          border-left: 5px solid #222;
        }
      }
    }
    &__messages {
      width: 70%;
      &__input{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        & button {
          background-color: #999;
          cursor: pointer;
          &:hover {
            background-color: #777;
          }
        }
        & textarea {
          color: #bbb;
          padding: 10px;
          background-color: #222;
        }
      }
    }
  }
}

