.Page_Items_Profile_About {
  display: flex;
  flex-direction: column;
  img {
    max-width: 600px;
    height: 300px;
  }
  .Page_Items_Profile_About_Status{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    & span {
      width: 10%;
    }
    &_output{
      padding: 5px 10px;
      border: 1px solid transparent;
      width: 90%;
      cursor: pointer;
        &:hover {
          background-color: #eee;
        }
    }
    &_input{
      padding: 4px 10px;
      border: 1px solid #eee;
      width: 90%;
    }
  }
}

