.Page_Items_Dialogs_Messages_Add {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  & button {
    background-color: #999;
    cursor: pointer;
    &:hover {
      background-color: #777;
    }
  }
  & textarea {
    color: #bbb;
    padding: 10px;
    background-color: #222;
  }
}

