.Header {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 20px;

  overflow: hidden;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  & img{
    opacity: 0.1;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
  }
  &__login{
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 10px;
    z-index: 10;
    color: #aaa;
    a {
      color: #aaa;
      &:hover {
        color: #fff;
      }
    }
  }
}

