// colors
$dark-shade100p          : #1f2041;
$dark-shade75p           : #575870; //rgba(#1f2041, .75);
$dark-shade50p           : #8f8fa0; //rgba(#1f2041, .5);
$dark-shade25p           : #c7c7cf; //rgba(#1f2041, .25);
$dark-shade5p            : #f4f4f6; //rgba(#1f2041, .05);
$purple                  : #bc9cff;
$green                   : #6fcf97;

// type text
h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.25;
}
h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
}

body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

input,button,select {
  outline: none;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
