@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
      url("#{$file-path}.woff") format("woff"),
      url("#{$file-path}.svg") format("svg"),
      url("#{$file-path}.otf") format("opentype"),
      url("#{$file-path}.ttf") format("truetype");
  }
}

@mixin desktop {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}


/* Body */
@mixin main() {
  width: 100%;
  padding: 25px 40px;

  border-radius: 3px;
  background: white;
  box-shadow: 0 0 11px #cccccc;
}
