@import '../../../utilsSass';

.menu {
  display: flex;
  justify-content: center;
  padding: 15px;
  & a {
    color: black;
    border-bottom: 5px solid transparent;
    padding: 10px 15px;
    &:hover {
      border-bottom: 5px solid #aaa;
    }
    &.a_active{
      border-bottom: 5px solid #555;
      &:hover {
        border-bottom: 5px solid #555;
      }
    }
  }
}

