.dialogs {
  background: white;
  box-shadow: 0 0 11px #cccccc;
  padding: 25px 40px;
  margin: 20px 0;
  border-radius: 3px;
  & h1 {
    margin-bottom: 20px;
  }
  &_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &_friends{
      display: flex;
      flex-direction: column;
      width: 30%;
      & a {
        color: #444;
        padding: 3px 15px;
        margin-bottom: 15px;
        margin-bottom: 10px;
        border-left: 5px solid transparent;
        &:hover{
          border-left: 5px solid #666;
        }
        &.a_active {
          border-left: 5px solid #222;
        }
      }
    }
  }
}

