@import "utilsSass/reset";
@import "utilsSass/fonts";
@import "utilsSass/types";
@import 'utilsSass';

// @font-face {
//   font-family: 'Montserrat';
//   src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
// }

body {
  color: #000;
  input {
    background-color: green($color: #000000);
  }
  .reduxCheckboxField{
    margin: 5px 0;
  }
  .reduxInputField{
    margin-bottom: 10px;
  }
  input[type="file"] {
    display: none;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .Profile_About_Icons {
    svg {
      margin-right: 10px;
      width: 22px;
      height: 22px;
      fill: #444;
      &:hover {
        stroke: black;
        stroke-opacity: 0.3;
        stroke-width: 30;
        troke-linecap: round;
        fill: #000;
      }
    }
  }
  .ant-list{
    color: #000;
  }
}
