@import "utils/reset";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/vars";
@import "utils/colors&type";

// @font-face {
//   font-family: 'Montserrat';
//   src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
// }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background-color: #f0f3f5;
}

.root {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1000px;
  padding: 0 15px;
}
